@import "tailwindcss";
@import "./tokens.css";
@import "./utilities.css";

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 90%;
    line-height: normal;
    background-color: var(--color-grey-800);
  }
}