@reference "tailwindcss";

@theme inline {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-25: #888888;
  --color-grey-50: #777777;
  --color-grey-75: #A6A6A6;
  --color-grey-100: #E9E9E9;
  --color-grey-150: #181818;
  --color-grey-200: #FAFAFA;
  --color-grey-250: #AAAAAA;
  --color-grey-300: #2C2C2C;
  --color-grey-400: #111111;
  --color-grey-500: #1A1A1A;
  --color-grey-600: #242424;
  --color-grey-700: #181818;
  --color-grey-800: #0A0A0A;

  --color-stc-100: #FF7F37;
  --color-stc-200: #FF5C00;
  --color-stc-300: #150E0A;
  --color-stc-400: #37221B;
  --color-stc-500: #68311B;
  --color-stc-600: #FF7A2A;
  --color-stc-700: #5F2914;
  --color-stc-800: #291812;
  --color-stc-900: #652910;

  --color-green-100: #00C84F;
  --color-green-200: #1E3021;

  --color-yellow-100: #FFC800;
  --color-yellow-200: #302A1B;

  --spacing: 1px;
}

@theme inline {
    --shadow-outer-card: 0px 6px 9.2px 0px #00000073;
    
    --typo-label: .875rem;
    --typo-label--line-height: 1;
    --typo-label--letter-spacing: .16em;
    --typo-label--font-family: var(--font-satoshi);
    --typo-label--font-weight: 400;

    --typo-label-xs: .75rem;
    --typo-label-xs--line-height: 1;
    --typo-label-xs--letter-spacing: 0px;
    --typo-label-xs--font-family: var(--font-satoshi);
    --typo-label-xs--font-weight: 400;

    --typo-heading: 1rem;
    --typo-heading--line-height: 1;
    --typo-heading--letter-spacing: 0px;
    --typo-heading--font-family: var(--font-satoshi);
    --typo-heading--font-weight: 400;

    --typo-title: 1.125rem;
    --typo-title--line-height: 1;
    --typo-title--letter-spacing: 0px;
    --typo-title--font-family: var(--font-inter);
    --typo-title--font-weight: 700;

    --typo-title-lg: 1.313rem;
    --typo-title-lg--line-height: 1;
    --typo-title-lg--letter-spacing: .01em;
    --typo-title-lg--font-family: var(--font-satoshi);
    --typo-title-lg--font-weight: 400;

    --typo-caption: .75rem;
    --typo-caption--line-height: 1;
    --typo-caption--font-family: var(--font-satoshi);
    --typo-caption--letter-spacing: 0px;
    --typo-caption--font-weight: 400;

    --typo-button: 0.875rem;
    --typo-button--line-height: 1.225rem;
    --typo-button--letter-spacing: 0;
    --typo-button--font-family: var(--font-satoshi);
    --typo-button--font-weight: 500;
}


@theme inline {
--btn-variant-primary: var(--color-stc-200);
--btn-variant-primary--hover: var(--color-stc-100);
--btn-variant-primary--text: var(--color-white);
--btn-variant-primary--border: transparent;
--btn-variant-primary--disabled: var(--color-grey-75);
--btn-variant-primary--text-disabled: var(--color-grey-250);
}