@utility font-* {
  font-size: --value(--typo-*);
  font-family: --value(--typo-*--font-family);
  line-height: --value(--typo-*--line-height);
  letter-spacing: --value(--typo-*--letter-spacing);
  font-weight: --value(--typo-*--font-weight);
}

@utility btn {
  color: --theme(--color-white);
  border-radius: --theme(--radius);
  transition-property: color, background-color, border-color, transform, text-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;
  border: 1px solid transparent;
  transform-origin: center;
  font-weight: 500;

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    transform: scale(0.95);
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.35),
      0 0 12px rgba(255, 92, 0, 0.45);
  }

  & > svg:first-child {
    margin-left: -2px;
  }

  & > svg:last-child {
    margin-right: -2px;
  }

  @apply inline-flex cursor-pointer items-center justify-center disabled:cursor-not-allowed disabled:border-transparent;
}

@utility btn-* {
  color: --value(--btn-variant-*--text);
  background-color: --value(--btn-variant-*);
  border-color: --value(--btn-variant-*--border);
  /* padding: --value(--btn-size-*); */

  @variant hover {
    background-color: --value(--btn-variant-*--hover);
  }

  @variant disabled {
    background-color: --value(--btn-variant-*--disabled);
    color: --value(--btn-variant-*--text-disabled);
  }
}

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(40px);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes pageIn {
  from {
    opacity: 0;
    filter: blur(2px);
    clip-path: inset(0 0 100% 0);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    clip-path: inset(0 0 0% 0);
  }
}